
<div class="container">
<h2> Welcome <%= @user.username %> !  <img src="<%= @user.avatar %>"/></h2>

  <div class ="lists">
    <h3> ToDo Lists </h3>

    <ul>
      <% @lists.each do |list| %>
        <div class="lists row">

        <div class="col-sm-6">
        <li>
        <a href="/lists/<%=list.id %>"><%= list.name %></a>
        created - <%= list.time_since_creation  %> hours ago </div>
        <div class="col-sm-1">
        <a href="/lists/<%=list.id %>/edit"><span class='glyphicon  glyphicon-pencil'></span></a></div>

          <div class="col-sm-1">
        <form method="post" action= "/lists/<%=list.id %>">
          <input type="hidden" name="_method" value = "delete">
          <button class="glyphicon no_outline" type="submit" type="hidden">
              <span class="glyphicon glyphicon-trash "></span>
              </button>
            </form>
        </div>
            <div class="col-sm-4"></div>
        </form>
      </li>
        </div>
      <% end %>
    </ul>
  </div>
